<div class="container">
  <div class="row">
    <div class="col center-block text-center" style="margin-top: 20%">
      <h1 class="display-4">Hello, welcome to Tapp - Contact App</h1>
      <h2 class="lead">I'm still learning :)</h2>
    </div>
  </div>
</div>
